using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Threading.Tasks;

namespace Week5Ex1HoroscopeApp
{
    internal class APIkeys
    {
        public static string HoroscopeApiKey = "-- YOUR API KEY GOES HERE --";
    }
}
